@import '@/styles/variables.scss';
$offset: 20px;

//.notification {
//  position: fixed;
//  width: 500px;
//  height: 200px;
//  background-color: red;
//  top: calc(100% - (200px + $offset));
//  left: $offset;
//}

.open {
  animation: open 300ms linear;
}

.close {
  animation: close 300ms linear;
}

.notification {
  display: flex;
  align-items: center;
  position: fixed;
  width: 300px;
  padding: 24px;
  top: calc(100% - $offset);
  left: calc(100% - $offset);
  transform: translate(-100%, -100%);

  box-shadow: 0px 7px 20px rgba(51, 63, 82, 0.25);
  border-radius: 4px;
  background-color: var(--secondary-color-100);
  border-bottom: 5px solid $green;

  font-size: 20px;
  font-family: sans-serif;

  //animation: open 300ms linear;
}

.img {
  margin: 0 22px 0 0;
  width: 32px;
  height: 32px;
}

.text {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 4px 0;
  color: var(--text-color-200);
  font-size: 18px;
  font-weight: 500;
}

.message {
  white-space: nowrap;
  color: var(--text-color-400);
  font-weight: 400;
  font-size: 14px;
}

//.closeBtn {
//  position: absolute;
//  background: none;
//  border: none;
//  width: 14px;
//  height: 14px;
//  top: 0;
//  left: 100%;
//  transform: translate(calc(-100% - 14px), 14px);
//  cursor: pointer;
//}

@keyframes open {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(-100%, -100%);
  }
}

@keyframes close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
