.table {
  width: 100%;
  margin: 10px 0 30px 0;
}

.row {
  display: flex;
}

.cell {
  width: 20%;
  input {
    width: 100%;
    height: 100%;
    outline: none;
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  margin-right: 10px;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary-color-100);
  background-color: var(--text-color-300);
  cursor: pointer;
}
