@import './variables.scss';

html[color-theme='light'] {
  --primary-color: $black;
  --secondary-color: $grey-400;
  --text-color-100: $white;
  --text-color-200: $grey-100;
  --text-color-300: $grey-200;
  --text-color-400: $grey-300;
  --text-color-neutral: $gradient-green-yellow;
}

html[color-theme='dark'] {
  --primary-color: $black;
  --secondary-color: $grey-400;
  --text-color-100: $white;
  --text-color-200: $grey-100;
  --text-color-300: $grey-200;
  --text-color-400: $grey-300;
  --text-color-neutral: $gradient-green-yellow;
}
