.noData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;

  h3 {
    font-size: 40px;
  }
}

.backButton {
  margin: 20px auto 0 auto;
}
