.inputWrapper {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 450px;
}

.input {
  width: 100%;
  padding: 20px 64px 20px 20px;
  background-color: var(--secondary-color-100);
  border: none;
  border-radius: 8px;
  outline: none;
  color: var(--text-color-200);
  font-size: 16px;
  &::placeholder {
    color: var(--text-color-400);
    font-size: 18px;
    font-weight: 400;
  }
}

.searchIcon {
  position: absolute;
  left: calc(100% - 44px);
}
