@import '@/styles/global.scss';

.bankSearch {
  padding: 80px 0 150px 0;
}

.searchInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-bottom: 25px;
  @include adaptive-font($pcSize: 38, $mobSize: 26);
  text-align: center;
  font-weight: normal;
}

.input {
  margin-bottom: 80px;
}
